aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
dataclasses-json
defusedxml
Deprecated
distro
durationpy
et_xmlfile
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
narwhals
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pillow
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-interface
pluggy
posthog
propcache
proto-plus
protobuf
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
PyPika
pyproject_hooks
pytest
pytest-asyncio
pytest-benchmark
pytest-codspeed
pytest-recording
pytest-socket
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
streamlit
sympy
syrupy
tenacity
tiktoken
tokenizers
toml
tornado
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vcrpy
watchdog
watchfiles
websocket-client
websockets
wrapt
XlsxWriter
yarl
youtube-transcript-api
zipp
zstandard
